.service {
  border-radius: 20px;
  transition: 0.3s ease-in-out;

  .service-image-container {
    background: url('../../../public/images/serviceBackground.png');
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-description {
    margin: 10px 0;
    font-size: 13px;
    width: 95%;
  }
}
.service:hover {
  background-color: rgb(237,245,236);

}
